*{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 9rem;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* pointer-events: none; */
    /* padding-left: 5rem; */
}
.GG{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
}
.log p{
    color: white;
    font-size: 3.5em;
}
.lo p{
    margin-top: 10px;
    color: white;
}
.menu span{
    color: white;
    cursor: pointer;
    font-size: 2em;
    transition: .1s;
}
.menu span:hover{
    transform: scale(1.2);
}
.profile span{
    margin: 0 10px 0 10px;
}
.mainArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
.card{
    margin: 0 20px 0 20px;
    height: 400px;
    width: 280px;
    
    /* background-color: black; */
}
.exp{
    display: none;
}
.exph{
    height: 40px;
    width: 180px;
    margin: auto;
    cursor: pointer;
    display: none;
    background-color: black;
    z-index: 1;
    color: white;
    text-align: center;
    transform: translateY(-4rem);
    margin-bottom: 8rem;
}
 
.exp p{
    color: white;
    text-align: center;
    padding-top: 9px;
}
.card img{
    height: 380px;
    width: 280px;
    
}
.card:hover .exp{
    border: 5px solid black;
    display: block;
    transform: translateY(-2.5rem);
    background-color: black;
    /* width: 200px; */
    text-align: center;
    /* transform: translateX(2.5rem); */
    
}
.footer{
    margin-top:  60px; ;
    width: 100%;
    height: 20rem;
    /* background-color: black; */
    background-color: rgba(0, 0, 0,.2);
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    font-size: 13px;
    /* background-color: rgb(94, 120, 235); */
}
.table p{
    letter-spacing: 1px;
}
.th{
    padding-top: 60px;
    padding-right: 60px;
    font-size: larger;
    padding-bottom: 30px;
}
.table td{
    padding-right: 60px;
    /* padding-bottom: 5px; */
}
.r1a img{
    /* transition: 1s; */
}
.r1a img:hover{
    content: url("One Piece/r1_a_b.webp");
}
.r1b img:hover{
    content: url("One Piece/r1_b_b.webp");
}
.r1c img:hover{
    content: url("One Piece/r1_c_b.webp");
}
.r1d img:hover{
    content: url("One Piece/r1_d_b.webp");
}

.r2a img:hover{
    content: url("One Piece/r2_a_b.webp");
}
.r2b img:hover{
    content: url("One Piece/r2_b_b.webp");
}
.r2c img:hover{
    content: url("One Piece/r2_c_b.avif");
}
.r2d img:hover{
    content: url("One Piece/r2_d_b.avif");
}

.r3a img:hover{
    content: url("One Piece/r3_a_b.avif");
}
.r3b img:hover{
    content: url("One Piece/r3_b_b.avif");
}
.r3c img:hover{
    content: url("One Piece/r3_c_b.avif");
}
.r3d img:hover{
    content: url("One Piece/r3_d_b.avif");
}

.r4a img:hover{
    content: url("One Piece/r4_a_b.avif");
}
.r4b img:hover{
    content: url("One Piece/r4_b_b.webp");
}
.r4c img:hover{
    content: url("One Piece/r4_c_b.webp");
}
.r4d img:hover{
    content: url("One Piece/r4_d_b.webp");
}

.r5a img:hover{
    content: url("One Piece/r5_a_b.webp");
}
.r5b img:hover{
    content: url("One Piece/r5_b_b.webp");
}
.r5c img:hover{
    content: url("One Piece/r5_c_b.webp");
}
.r5d img:hover{
    content: url("One Piece/r5_d_b.webp");
}

.r6a img:hover{
    content: url("One Piece/r6_a_b.webp");
}
.r6b img:hover{
    content: url("One Piece/r6_b_b.avif");
}
.r6c img:hover{
    content: url("One Piece/r6_c_b.avif");
}
.r6d img:hover{
    content: url("One Piece/r6_d_b.avif");
}

.r7a img:hover{
    content: url("One Piece/r7_a_b.webp");
}
.r7b img:hover{
    content: url("One Piece/r7_b_b.webp");
}
.r7c img:hover{
    content: url("One Piece/r7_c_b.webp");
}
.r7d img:hover{
    content: url("One Piece/r7_c_b.webp");
}


.r8a img:hover{
    content: url("One Piece/r8_a_b.webp");
}
.r8b img:hover{
    content: url("One Piece/r8_b_b.avif");
}
.r8c img:hover{
    content: url("One Piece/r8_c_b.avif");
}
.r8d img:hover{
    content: url("One Piece/r8_d_b.avif");
}






